@charset "UTF-8";
/* CSS Document */

#ballCanvas
{
	background-color: #FFFFFF;
	width: 1200px;
	margin: auto;
	border: 2px solid #242424;
	margin-top: 50px;
	display: block;
}

h1 {
	font-size: 50px;
	margin-top: 50px;
	text-align: center;
	color: #1473cc;
	text-shadow: 2px 2px 6px #515151;
	text-decoration: none;
}

body {
	background-color: #F7F7F7;